{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <h1 class="ml-1"></h1>

    <div class="m-2 p-3 border" id="textarea-view">
        <h5><b>What's happening?</b></h5>
        <form>
            <textarea class="form-control" id="content"></textarea>
            <input class="mt-1 btn btn-primary" id="submit" type="submit" value="Post">
        </form>
    </div>

    <div class="m-2 p-3 border" id="profile-view">
        <h4><b id="following">Following: 0</b></h4>
        <h4><b id="followers">Followers: 0</b></h4>
        {% if user.is_authenticated %}
            <button class="btn btn-primary" id="follow-unfollow-button"></button>    
        {% endif %}
    </div>

    <div id="posts-view">
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/post.js' %}"></script>
{% endblock %}